%font-family {
  font-family: 'Roboto', sans-serif;
}

%Raleway-font {
  font-family: 'Raleway', sans-serif;
}

%Poppins-font {
  font-family: 'Poppins', sans-serif;
}

%Metrophobic-font{
 font-family: 'Metrophobic', sans-serif;
 }

%Luckiest-font {
  font-family: 'Luckiest Guy', cursive;
}
