button{
  padding: 10px;
  background-color:red;
  border:0px;
  border-radius: 10px;
  font-size: 20px;
  width:100px;
}

button>a{
  margin:auto;
  color:black;
  text-decoration: none;
}

div{
  width:100px;
  margin:auto;
}



h1{
  text-align: center;
}

table {
  border-collapse: collapse;
  margin:auto;
  text-align:center;
}
 th {
  background: #ccc;
}

th, td {
  min-width:500px;
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}